body {
    margin: 0;
    line-height: normal;
    background-color: #1d1d1d;
    color: white;
}

.elipse {
    background-color: aliceblue;
}

body {
    margin: 0;
    line-height: normal;
    background-color: #1d1d1d;
}

:root {
    /* fonts */
    --font-montserrat: Montserrat;
    --font-raleway: Raleway;

    /* font sizes */
    --font-size-lg: 18px;

    /* Colors */
    --bg: #1d1d1d;
    --white: #fff;
    --color-aquamarine: #54ecc4;
    --light-blue: #87edf0;
}

.group-parent {
    position: relative;
    display: flex;
    justify-content: center;
    top: 80px;

    font-size: 24.2px;
    color: white;
    font-family: var(--font-montserrat);
    align-items: center;
    gap: 31.62px;
}

.row {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.elipse {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}

.end {
    width: 42.5vw;
    position: relative;
    display: flex;
    justify-self: center;
    color: white;
    font-size: 16px;
    font-family: Raleway;
    font-weight: 500;
    line-height: 21px;
    word-wrap: break-word;
    margin-top: 5%;

}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.diff {
    flex-wrap: wrap;
    align-items: center;
    text-align: justify;
    width: 42.5vw;
    position: relative;
    display: flex;

    color: white;
    font-size: 12px;
    font-family: Raleway;
    font-weight: 600;
    word-wrap: break-word
}

.button1 {
    width: 10%;
    height: 40px;
    background: #54ECC4;
    border-radius: 10px;
    border: 2px solid;
}
.button1 {
    width: 10vw;
    height: 40px;
    background: #54ECC4;
    border-radius: 10px;
    border: 2px solid;
}
.button2{
    background-color: red;
    color: white;
}
.holder {
    /* background-color: #ec0b0b; */
    height: 3rem;
    width: 50vw;
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;
    margin:40rem,
}

.button1:hover {
    background: #2a494a;
    color: white;
}

.url {
    height: 10rem;
    width: 20rem;
}
.parentholder{
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
}